@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 10vh;
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
	margin-top: 0px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	height: 60px;
	z-index: 1000;
	/*background: #fff;*/
	/*background-color: skyblue;*/
	background-color: #ECF0F1;
	justify-content: space-around;
	transition: height .5s;
	align-items: center;
}
.hidden {
    height: 0 !important;
}
.icon-to-hide {
    transition: opacity .5s; /* 添加过渡效果 */
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.srch {
	padding: 2px 10px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background: #0066ff; */
	border: 1px solid;
	border-radius: 20px;
}
.srch img {
	width: 25px;
	cursor: pointer;
}
.srch .search {
	/* padding: 2px 10px; */
	outline: none;
	border: none;
	background: transparent;
}

.get-started {
	/*margin-left: 50px;*/
	padding: 5px 20px;
	border: 2px solid #DF2771;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	transition: .5s;
	background-color: #DF2771;
	color: #fff;
}
.get-started2 {
	margin-top: 50px;
	padding: 4px 10px;
	border: 2px solid #DF2771;
	border-radius: 20px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	transition: .5s;
	background-color: #DF2771;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo {
	transition: opacity .5s;
	height: 60px;
	width: 220px;
	display: flex;
	justify-content: center;
	/*background-color: skyblue;*/
	align-items: center;
	text-align: center;
	font-size: 40px;
	font-family: "ChillRoundF", sans-serif;
}
.logo img{
	width: 120px;
	cursor: pointer;
	transition: opacity .5s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.menu-btn {
    font-size: 32px;
}
.close-btn{
    font-size: 36px;
		color: #ffffff;
}

/*menu icon and options*/
.menu {
	cursor: pointer;
	width: 40px;
	display: none;
	margin-left: 10px;
}
.nd-animation {
  display: block;
  position: relative;
  width: 40px;
  height: 4px;
  background-color: #25283D;
  transition: background-color .2s linear;
}
.nd-animation::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 4px;
  background: #25283D;
  transform: translateY(-12px);
  transition: transform .2s linear;
}
.nd-animation::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 4px;
  background: #25283D;
  transform: translateY(12px);
  transition: transform .2s linear;
}
.is-open {
	background-color: rgba(255, 255, 255, 0);
}
.is-open::before {
	transform: rotate(-45deg);
}
.is-open::after {
	transform: rotate(45deg);
}
.is-hide {
	transform: translateY(-100%);
}
.menu-container {
	position: relative;
	display: inline-block;
}
.menu-options {
	display: none;
	position: absolute;
	top: 35px;
	left: 0px;
	/*background-color: #444;*/ /* or #9cadb1*/
	/*background-color: #87cefa;*/ /* or #7ab8cc or #57aed1*/
	background-color: #87cefa;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.menu-options a {
	display: block;
	color: #000000;
	text-decoration: none;
	text-align: left;
	padding: 10px 15px;
	transition: background-color 0.3s ease;
	width: 100px; /* 下拉菜单的宽度 */
	/*max-height: 300px; 
	overflow-y: auto; */
}

.menu-options a:hover {
	background-color: #555;
}

.menu-container:hover .menu-options {
	display: block;
}
/* 下拉菜单 */
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #444;
	min-width: 160px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 4px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
	background-color: #555;
}

.head-container {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url('fonts/LXGWWenKai-Regular.ttf') format('truetype'); 
	}
.wenkai{
	font-family: 'LXGWWenKai';
}
@font-face {
    font-family: 'ChillRoundF';
    src: url('fonts/寒蝉全圆体v3.ttf') format('truetype'); 
	}
.quote {
	width: 600px;
	/*transform: translateY(-50px);*/
}
.quote h2 {
	/*margin-top: 30px;
	line-height: 30px;*/
	color: #0009;
	font-family: 'LXGWWenKai';
}
.quote .remark {
	padding-top: 10px;
	padding-bottom: 30px;
	/*line-height: 30px;
	color: #0009;*/
	font-size: 24px;
	font-family: 'LXGWWenKai';
}
.quote-title {
	padding: 5px 0px;
	font-size: 40px;
	color: #2e2e2e;
	font-family: 'ChillRoundF';
	text-align: center;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image {
	padding-top: 50px;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}
.phone-only {
  display: none; 
}
/* SIDE MENU */
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.side-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	font-size: 28px;
	color: #fff;
	transform: translateX(20px);
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}

/*正文部分*/
#main{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 94%;
}
.footer-container {
	padding: 20px 0px
}
.rpic {
	width: 500px;
	display: block;
	text-align:center;
}
.desktop-only {
	width: 100%;
	height: 50px;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*background-color: #ECF0F1;*/
}
.desktop-only > a {
	font-weight: 600;
	font-size: 34px;
	color:#57aed1;
}

/*Common things in all sections*/
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	padding-top: 50px;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}
.diffSection-title {
	font-size: 40px; 
	padding-top: 100px;
	padding-bottom: 40px;
	text-align: center;
}

/*Title*/
.title {
	margin-top: 0px; 
	padding-top:50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #2E3D49;
}
.title > span{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color: #2E3D49;
}
@font-face {
    font-family: 'LXGWWenKai';
    src: url('../fonts/LXGWWenKai-Regular.ttf') format('truetype'); 
	}
@font-face {
    font-family: 'ChillRoundF';
    src: url('../fonts/寒蝉全圆体v3.ttf') format('truetype'); 
	}
.shortdesc {
	padding-top: 5px;
	font-size: 24px;
	font-family: 'LXGWWenKai', sans-serif;
	color: #2E3D49;
	margin-bottom: 50px;
}

/*ABOUT*/
.about-content {
	width: 100%;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.about-content .side-text {
	width: 550px;
	padding: 20px 40px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: justify;
	line-height: 22px;
	opacity: 0;
	transform: translateX(-100px);
	transition: 1s ease-in-out;
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
	text-align: center;
}
.about-content .side-text p {
	padding: 10px;
}
.about-content .side-image img {
	width: 90%;
	border-radius: 5px;
}
.sideImage {
	transform: translateX(100px);
	opacity: 0;
	transition: .8s ease-in-out;
}
.sideImage-appear {
	opacity: 1;
	transform: translateX(0px);
}

/*POPULAR SUBJECTS*/
.course {
	display: grid;
	justify-content: center;
}
.course-title {
	font-size: 40px; 
	padding-top: 100px;
	padding-bottom: 80px;
	text-align: center;
}
.cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	width: 250px;
	height: 80px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}
.cbox .det a{
	justify-content: space-around;
	width: 250px;
	padding: 28px;
	border-radius: 10px;
	border: 1px solid #FA4B37;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.cbox .det a:hover {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
.cbox .det a:hover img{
	filter: brightness(100);
}
.cbox img {
	width: 20px;
	margin-right: 20px;
}

.tbox {
	width: 900px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*TEAM SECTION*/
.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid red;
}
.card:nth-child(4){
	border-top: 5px solid brown;
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px rgba(225,0,0,0.5),
				1px 1px 30px rgba(255,0,0,0.5);
}
.card:nth-child(4):hover {
	box-shadow: inset 0px 0px 10px rgba(150,75,0,0.5),
				1px 1px 30px rgba(150,75,0,0.5);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}
.totalcard .card img:hover {
	transform: scale(3.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid black;
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-teacher1:hover {
	background: rgba(0,255,0,0.7);
	color: #fff;
}
.btn-teacher2:hover {
	background: rgba(0,0,255,0.5);
	color: #fff;
}
.btn-teacher3:hover {
	background: rgba(255,0,0,0.5);
	color: #fff;
}
.btn-teacher4:hover {
	background: rgba(150,75,0,0.5);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}

/*课程简介*/
#main2{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 65%;
	/*max-width: calc(100% - 4em);*/
}
.mbox {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mbox .mdet {
	height: 60px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 50px;
}
.mbox .mdet a{
	justify-content: space-around;
	width: 100%;
	padding: 20px;
	border-radius: 50px;
	border: 1px solid #FA4B37;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.mbox .mdet a:hover{
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
/*段落*/
.zhpar {
	padding: 10px;
	font-size: 24px;
	font-family: 'LXGWWenKai', sans-serif;
	text-indent: 2em;
	color: #2E3D49;
}
.zhpar p {
margin-bottom: 10px;
}

.teacher {
	text-align: left;
	padding: 50px;
}

.sign-up-contact {
	font-size: 40px; 
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
	width: 90%;
	text-align: left;
	/*background-color: skyblue;*/
}


/*SCROLLING TEXT*/
.marqu {
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 160px;
	height: 4px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	margin-top: 2px;
	margin-bottom: 40px; 
	display: block;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}

footer img {
	width: 20px;
	transform: translateY(3px);
}
/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.desktop-only {
    display: none;
	}
	.phone-only {
		padding: 10px 0px;
		font-size: 24px;
		display: flex;
    flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.phone-only > a {
		font-weight: 600;
		font-size: 24px;
		color:#57aed1;
	}
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		margin-left: 30%;
	}
	.menu {
		/*display: block;*/
		display: flex;
    justify-content: center;
	}
	nav {
		border-bottom: 1px solid #0005;
	}
	nav ul, .srch, .get-started {
		display: none;
	}
	.head-container {
		margin-top: 10px;
	}
	.quote-title, .quote h1, .play {
		justify-content: center;
		text-align: center;
	}
	.quote-title {
		padding: 30px 0px;
		font-size: 28px;
	}
	.title {
		margin-top: 0px;
	}
	.title > span{
		font-size: 28px;
	}
	.quote h1 {
		font-size: 24px;
	}
	.quote .remark {
		font-size: 20px; 
		/*padding: 5px;*/
  }
	.course-title {
		font-size: 30px; 
		padding-bottom: 40px;
	}
	.diffSection-title {
		font-size: 30px; 
	}

	#main2{
		width: 90%;
	}
	.teacher {
		padding: 5px;
	}
	#main2 .title h1 {
		font-size: 28px; 
	}
	.sign-up-contact {
		padding-top: 50px;
		font-size: 16px; 
	}
	footer .border{/*居中*/
		width: 130px;
		margin-left: auto; 
		margin-right: auto; 
	}
	@media screen and (min-width: 600px){
		.cbox {
			width: 600px;
		}
		.sign-up-contact {
			font-size: 26px; 
			width: 540px;
		}
	}
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

