
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	font-family: Arial, sans-serif;
	margin: 0;
	/*background-color: #f4f4f4;*/
	background-color: #e6e6e6;
}

/*导航栏*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
	@media screen and (max-width: 960px) {
			position: relative;
		}
}

nav {
	font-weight:bold;
	display: flex;
	justify-content: center;
	background-color: #444;
	padding: 0.5em 0;
	/*height: 40px;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
}

.first-item {
	margin-right: auto;
	margin-left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 30px;
}
.first-item a {
	color: #fff;
	text-decoration: none;
	padding: 0 1em;
	margin: 0 0;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	position: relative;
	/*background-color: skyblue;*/
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.last-item {
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.right {
	margin-right: 10%;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.item a, .last-item a, .right a{
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	margin: 0 0.5em;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	position: relative;
	/*background-color: skyblue;*/
}
.dropdown  a {
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	margin: 0 0.5em;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	position: relative;
	display: inline-block;
	/*background-color: skyblue;*/
}

/*.first-item a:hover,*/
.item a:hover, 
.last-item a:hover, 
.right a:hover,
.dropdown a:hover,
.dropdown-content a:hover {
	background-color: #555;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #444;
	min-width: 100px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 4px;
	padding: 10px 0px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition: background-color 0.3s ease;
}

#main2 {
    margin: 100px auto;
    width: 65%;
    min-width: 1200px;
    min-height: 100vh;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 6px rgba(100,100,100,.3);
		display: block;
		@media screen and (max-width: 1200px) {
			width: 100%;
			min-width: auto;
			min-height: auto;
			padding: 5px;
			margin: 5px auto;
		}
}
.icon-container {
	width:400px;
	font-size:40px;
	font-weight:bold;
	@media screen and (max-width: 400px) {
		width:100%;
		}
}
.icon-container p {
	text-align:center;
}
.icon {
	display:block;
	width:300px;
	margin:0 auto;
}
.flex-container {
	width:100%;
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	@media screen and (max-width: 1200px) {
		flex-direction:column;
		align-items: center;
		}
}
.bg {
	/*filter: opacity(0.6);*/
	background-image: url('images/extra/sky.jpg'); 
  background-size: cover;
	background-repeat: no-repeat;
  background-position: center;*/
}
.ann {
	width:600px;
	text-align:justify;
	font-size:36px;
	display:flex;
	flex-direction:column;
	justify-content: end;
	@media screen and (max-width: 1200px) {
		align-items: center;
		margin-top:80px;
	}
	@media screen and (max-width: 600px) {
		width:100%;
		justify-content: start;
		margin-top:80px;
		}
}
.ws {
	width:100%;
	margin-top:20px;
	font-size:28px;
	white-space: initial;
	@media screen and (max-width: 1200px) {
		font-size:24px;
		text-align:center;
	}
}
.news {
	/*align-self: flex-start;
	text-align: left; 
  vertical-align: top;*/
	border: 2px solid #add8e6;
	border-radius: 10px;
	width: 100%;
	height: 800px;
	margin:40px auto;
	padding:0 10px;
	/*background-color: #f0f0f0;*/
	@media screen and (max-width: 1200px) {
	height:auto;
	border-radius: 5px;
	}
}
.news-title {
	display: inline-block;
	position: relative;
	font-size: 24px;
	top: -20px;
	background-color: #FFF;
	margin-left: 20px;
	padding: 0px 5px;
	color:#57aed1;
}
.news-list { 
	width:550px;
	background-image: url('images/extra/grass.png'); 
  background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
	@media screen and (max-width: 550px) {
	width:100%;
	padding-bottom: 80px;
	}
}
.news-list a {
	text-decoration: none;
	color:#000;
} 
.news-list ul {
	list-style: none;
	padding:40px 0px;
	@media screen and (max-width: 1200px) {
	padding: 0px;
	padding-bottom: 20px;
	}
}
.news-list ul li {
	margin-left:40px;
	margin-bottom:20px;
	font-size:26px;
	border-bottom: 1px solid #ccc;
	@media screen and (max-width: 1200px) {
	margin: 20px;
	}
}
.news-list ul li:hover {
	background-color: #91cae1;
}
.right-img {
	position:relative;
	width:550px;
	height:700px;
	overflow:hidden;
	@media screen and (max-width: 550px) {
	width:auto;
	height:500px;
	}
}
.right-img > img {
	height:690px;
	display:block;
	@media screen and (max-width: 550px) {
	max-width:100%;
	height:500px;
	}
}

/*box container*/
.container {
	padding: 20px;
	border: 2px solid #add8e6;
	border-radius: 10px;
	margin-bottom: 100px;
}
.cont-title {
	display: inline-block;
	position: relative;
	font-size: 20px;
	top: -35px;
	background-color: #FFF;
	margin-left: 20px;
	padding: 0px 5px;
}
.in-title {
	font-size: 32px;
	text-align: center;
	margin-bottom: 40px;
}
.cont-body {
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	text-indent: 40px;
}
.cont-body p {
	margin-bottom: 20px;
}

/*Section*/
section {
	padding: 20px 50px;
	@media screen and (max-width: 960px) {
			padding: 15px;
		}
}
.sect-title
{
	font-size: 32px;
	text-align: left;
	margin: 40px 0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	@media screen and (max-width: 960px) {
		text-align: center;
	}
}
.sect-body,
.apostle-creed {
	display:block;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	text-indent: 40px;
	margin-bottom: 40px;
	@media screen and (max-width: 960px) {
		text-indent: 0px;
	}
}
.noindent {
	text-indent: 0px;
}
.indent {
	text-indent: 40px;
	@media screen and (max-width: 960px) {
		text-indent: 32px;
	}
}

.sect-body p,
.apostle-creed p
{
	margin-bottom: 10px;
}
.img-poster,
.img-fs {
	width:600px;
	height:100%;
	display:block;
	margin-left:40px;
	@media screen and (max-width: 600px) {
	width:100%;
	margin:10px auto;
	}
}
.sect-body ul li {
	margin-left:50px;
	margin-bottom:20px;
	padding-left:5px;
	text-indent: 0px;
}

.subtitle {
	font-size: 30px;
	text-align: left;
	padding-left: 40px;
	margin-bottom: 40px;
	@media screen and (max-width: 960px) {
		padding:0;
		font-size: 26px;
		text-align: center;
	}
}



.menu {
	cursor: pointer;
	width: 32px;
	display: none;
	margin-left: 10px;
	@media screen and (max-width: 960px) {
		display: flex;
		flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	}
}

.nd-animation {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: white;
  transition: background-color .2s linear;
}
.nd-animation::before {
	left:0;
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: white;
  transform: translateY(-9px);
  transition: transform .2s linear;
}
.nd-animation::after {
		left:0;
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: white;
  transform: translateY(9px);
  transition: transform .2s linear;
}
.is-open {
	background-color: rgba(255, 255, 255, 0);
}
.is-open::before {
	transform: rotate(-45deg);
}
.is-open::after {
	transform: rotate(45deg);
}
.menu-container {
	position: relative;
	display: inline-block;
}
.menu-options {
	display: none;
	position: absolute;
	top: 35px;
	left: 0px;
	margin:0;
	/*background-color: #444;*/ /* or #9cadb1*/
	/*background-color: #87cefa;*/ /* or #7ab8cc or #57aed1*/
	background-color: #7ab8cc;
	/*padding: 10px;*/
	/*border-radius: 4px;*/
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.menu-options a {
	display: block;
	color: #000000;
	text-decoration: none;
	text-align: left;
	padding: 10px 15px;
	transition: background-color 0.3s ease;
	width: 150px; /* 下拉菜单的宽度 */
	border-bottom: 1px solid #add8e6;
	margin:0;
}

.menu-options a:hover {
	background-color: #555;
}

.menu-container:hover .menu-options {
	display: block;
}

.notif {
	font-size:24px;
	color:green;
	margin-bottom:20px;
	@media screen and (max-width: 960px) {
		font-size:20px;
	}
}
.name {
	color:#000080;
	font-weight:bold;
}

/*循环播放图片*/

    .active {
      opacity: 1;
    }
    .prev-img,
    .next-img {
      width: 22px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
    }
    .prev-img {
      left: 20px;
      /*background: url(prev.png) no-repeat center center;*/
    }
    .next-img {
      right: 20px;
      /*background: url(next.png) no-repeat center center;*/
    }
    .cycle {
      width: 100px;
      position: absolute;
			/*top: 50%;*/
			/*left: 50%;*/
			/*transform: translate(-50%, -50%);*/
			left: 50%;
			bottom:10px;
			transform: translateX(-50%);
			display:flex;
			justify-content:space-between;
			align-items:center;
    }
    .cycle ul {
      list-style: none;
			display:block;
    }
		.cycle button {
			width:20px;
			height:20px;
			display:block;
			cursor: pointer;
			border:none;
			background-color: transparent;
			outline: none;
		}
    .cycle button > img {
			width:20px;
    }
    .cycle ul li {
      list-style: none;
      display:inline;
    }
    .cyc-btn {
      float: left;
      margin: 0 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: skyblue;
    }
    .cyc-btn-active {
      background-color: orange;
    }
/*文章*/
#main3 {
    margin: 100px auto;
    width: 75%;
    /*min-width: 950px;*/
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 6px rgba(100,100,100,.3);
		display: flex;
		@media screen and (max-width: 960px) {
			width: 100%;
			margin: 5px auto;
			flex-direction:column;
			padding: 0px;
		}
}
.poster-container {
	width: 75%;
	padding: 20px;
		@media screen and (max-width: 960px) {
			width: 100%;
		}
}
.poster-title {
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;
	/*border-top: 2px solid #add8e6;*/
}
.poster-mate {
	font-size: 16px;
	color: #ccc;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #ccc;*/
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, white, black, white);
	border-image-slice: 1;
}
.poster-mate > div {
	display:inline;
	padding: 5px 40px;
		@media screen and (max-width: 960px) {
			display:block;
			text-align:center;
		}
}
.poster-body {
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	text-indent: 40px;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, white, black, white);
	border-image-slice: 1;
}
.poster-body p {
	margin-bottom: 20px;
}
/*侧边栏*/
.sidebar {
	height: auto;
	width: 360px;
	padding: 0px 20px;
	overflow: hidden;
	display: block;
	/*background-color: #f4f4f4;*/
	align-self: flex-start; 
	@media screen and (max-width: 960px) {
	width: 100%;
	}
}
.sidebar button {
	display: none;
	margin: auto;
}

/*日历*/
.calendar{
	display:block;
	width:300px;
	height:300px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	margin:0 auto;
	margin-top: 120px;
	@media screen and (max-width: 960px) {
		display:none;
	}
}
.body-list ul{
	list-style-type: none;
	padding: 0;
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
	margin-top: 30px;
}
.body-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
}
.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
	color:#565656; /*深灰色*/
}
.green{
	color: #6ac13c; /*绿色*/
	/*font-size: 30px;*/
}
.greenbox{
	border:1px solid #6ac13c;
	background:#e9f8df; /*浅绿色背景*/
}
.cal-title {
	display: flex;
	justify-content: space-around;
}
.cal-title a {
text-decoration: none;
font-size: 34px;
padding: 5px;
}
.cal-title a:first-child {
	margin-right: auto; 
	font-weight:bold;
	font-size: 28px;
}
.cal-title a:last-child {
	margin-left: auto; 
	font-weight:bold;
	font-size: 28px;
}
.cal-body {
	padding: 0;
	margin: 0;
}

.artlist-title {
	padding: 20px 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #696969;
}
.art-list {
	font-size:20px;
	border-top: 1px solid;
	border-image: linear-gradient(to right, white, #ccc, white);
	border-image-slice: 1;
}
.art-list ul {
	/*overflow: hidden;*/
	overflow-x: auto;
	white-space: nowrap;
}
.art-list ul li {
	/*border-bottom: 1px solid #ccc;*/
  padding: 5px 0; 
  margin: 10px 0; 
	list-style-position: inside; 
}

.footer-container {
	display: flex;
	justify-content: center;
	background-color: #444;
	padding: 40px 0;
	color:#FFF;
	@media screen and (max-width: 1200px) {
		flex-direction:column;
		width:100%;
		padding:0 20px;
	}
}
.footer-container .left-col p {
	font-size: 20px;
	margin-bottom:20px;
}
.footer-container .right-col p {
	font-size: 20px;
	margin-bottom:40px;
}
.footer-container .left-col p img {
	width: 20px;
}
.footer-title {
	font-weight:bold;
	font-size: 30px;
	/*margin-bottom:30px;*/
}
.footer-title img {
width:30px;
}
.left-col, .right-col {
	width:32%;
	@media screen and (max-width: 1200px) {
		width:600px;
	}
	@media screen and (max-width: 600px) {
		width:100%;
	}
}

.left-col .border{
	width: 180px;
	height: 4px;
	background: linear-gradient(to right, red, yellow, green);
	margin-top: 2px;
	margin-bottom: 40px; 
	display: block;
}
.right-col .border{
	width: 180px;
	height: 4px;
	background: linear-gradient(to right, red, yellow, green, blue, purple);
	margin-top: 2px;
	margin-bottom: 10px; 
	display: block;
}
.right-col p a {
	text-decoration: none;
	color:#FFF;
}
@media screen and (max-width: 960px) {
	nav .item,
	nav .dropdown,
	nav .right
	{
		display: none;
	}
	.apostle-creed p {
		display:inline;
	}
}
